{% extends 'base.html' %}
{% block content %}

  {% for font in fonts.all %}
    {{ font.user }} <br>
    {{ font.date }}<br>
    
    <hr>
    {{ font.phrase1 }} <br>

    <hr>
    
    <img src = "{{ font.input_photo1.url }}">
    <img src = "{{ font.input_photo2.url }}">
    <img src = "{{ font.input_photo3.url }}">
    <img src = "{{ font.input_photo4.url }}">
    <img src = "{{ font.input_photo5.url }}">
    <img src = "{{ font.input_photo6.url }}">
    <img src = "{{ font.input_photo7.url }}">
    <img src = "{{ font.input_photo8.url }}">
    <img src = "{{ font.input_photo9.url }}">

    <img src = "{{ font.output_photo1.url }}">
    <br><br><br><br>
  {% endfor %}

  

{% endblock %}