{% extends 'base.html' %}
{% block content %}

<script>
    function start(){
        document.getElementById('startbutton').style.visibility = "hidden";
        document.getElementById('loading_img').style.visibility = "visible";
    }


</script>


<h1>loading.html</h1>


<form method="post" action="{% url 'fontsapp:loading' font.id %}">
    {% csrf_token %}
    <input type="submit" onclick="start()" value="시작하기" id="startbutton">
</form>

<br>
<div  id="loading_img" style="visibility:hidden;">
    <img src="../../media/template_download/template_download.png">
    <p>처리중입니다.</p>
</div>


{% endblock %}