{% extends 'base.html' %}
{% block content %}

<head>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script> 
    <script src= "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"> </script> 
    <meta charset="UTF-8">
</head>

<h1>write_input.html - 직접입력페이지</h1>

<p>안내문 / 주의사항</p>

canvas창 띄우기 <br>

<canvas id="canvas1" width="200" height="200" style='border:1px solid black;'></canvas>
<canvas id="canvas2" width="200" height="200" style='border:1px solid black;'></canvas>
<br>
<button onclick='pen(1)'>펜굵기-1</button>
<button onclick='pen(5)'>펜굵기-5</button>
<canvas width='1000' height='200' id='pen_select'></canvas>


<br>
<button id="submitcanvas" onclick="sub()">현재까지 작업 저장하기</button>

<script>
    window.onload=function(){
        var canvas1=document.getElementById('canvas1');
        var canvas2=document.getElementById('canvas2');

        var ctx=canvas1.getContext('2d');
        var ctx2=canvas2.getContext('2d');
        var x=0;
        var y=0;

        p_Thick=3;

        ctx.beginPath();
        canvas1.onmousedown=function(){
            ctx.strokeStyle='black';
            ctx.lineWidth=p_Thick; 
            ctx.moveTo(event.x -canvas1.offsetLeft, event.y-canvas1.offsetTop);  
            //그릴 선의 초기값.
            //마우스가 클릭됬을때 초기값 을 잡아준다.
        
            canvas1.onmousemove=function(){
                ctx.lineTo(event.x -canvas1.offsetLeft, event.y-canvas1.offsetTop);
                ctx.stroke();
            }
            canvas1.onmouseup=function(){
                canvas1.onmousemove=null;
            }
        }

        ctx2.beginPath();
        canvas2.onmousedown=function(){
            ctx2.strokeStyle='black';
            ctx2.lineWidth=p_Thick; 
            ctx2.moveTo(event.x -canvas2.offsetLeft, event.y-canvas2.offsetTop);  
            //그릴 선의 초기값.
            //마우스가 클릭됬을때 초기값 을 잡아준다.
        
            canvas2.onmousemove=function(){
                ctx2.lineTo(event.x -canvas2.offsetLeft, event.y-canvas2.offsetTop);
                ctx2.stroke();
            }
            canvas2.onmouseup=function(){
                canvas2.onmousemove=null;
            }
        }    
    }



    function pen(pen_size){
        p_Thick=pen_size;
        alert('펜굵기 선택: '+pen_size);

    }

    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sub(){
        var canvas1 = document.getElementById("canvas1").toDataURL();
        var canvas2 = document.getElementById("canvas2").toDataURL();

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            type:"POST",
            url:"{% url 'fontsapp:write_input' font.id %}",
            data:{
                canvas1:canvas1,
                canvas2:canvas2
            }
        }).done(function(o){
            console.log('saved');
        });
    };

</script>


<br><br>
<a href="{% url 'fontsapp:input_edit' font.id %}">사진편집하기</a>

{% endblock %}